.counter{
    width: fit-content;
    background-color: #FA7921;
    padding: 1rem;
    text-align: center;
}

.counter button{
    background-color: #EAD637;
    margin: 5px;
}

.counter button:hover{
    box-shadow: 0 -5px 5px  #EAD637, 0 5px 5px  #EAD637;
}

.counter span{
    color: #000;
    font-size: 26px;
    margin: 10px;
}